.numberText{
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.homeCustomSoftwareImage{
    position: relative;
}

.homeCustomSoftwareImage::after{
    content: "";
    position: absolute;
    inset: 3em;
    opacity: .7;
    bottom: -50px;
    filter : blur(2rem);
    border-radius: 10%;
    background: linear-gradient(90deg,
    rgba(255, 236, 167, 1), rgba(167, 216, 222, 1));
    z-index: -1;
}